---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
---

<BaseLayout title="Education " description="The page to descript my education cycle.">
    <div class="education">
        <main class="wrapper education">
            <!-- <Hero
                title="Education"
                tagline="Thanks for stopping by. Read below to learn more about myself and my background."
            > </Hero> -->
            <!--    <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Jeanine White at work with a colleague"
                />  -->
            
            <section class="education-page">
                <h1>The education page.</h1>
            </section>
        </main>
    </div>
<!-- <section>
    <p>The education page </p>
</section> -->

<!-- <BaseLayout
    title="Education | Ousmane Dial"
    description="Education Ousmane Diallo"
>
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="Education"
                tagline="Thanks for stopping by. Read below to learn more about myself and my background."
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Jeanine White at work with a colleague"
                />
            </Hero>
            <section>
                <p>The education page.</p>
            </section>
        </main>
    </div>
</BaseLayout>  -->
