---
import Icon from './Icon.astro';
---

<div><h1>Langages de programmation</h1></div>
<section class="box skills">
	<!-- <div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
	</div> -->
	<div>
		<!-- <Icon icon="git-logo" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		 <!-- The GIT icon -->
		 <img src="https://img.icons8.com/color/48/000000/git.png" alt="GIT" title="GIT"/>
	</div>
	<div>
		<!-- <Icon icon="html-logo" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		 <!-- The HTML icon -->
		<img src="https://img.icons8.com/color/48/000000/html-5.png" alt="HTML5" title="HTML5"/>
	</div>
	<div>
		<!-- <Icon icon="javascript-logo" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		 <!-- The JAVASCRIPT icon -->
		<img src="https://img.icons8.com/color/48/000000/javascript.png" alt="JAVASCRIPT" title="Javascript"/>
	</div>
	<div>
		<!-- <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		 <!-- The JAVA icon -->
		<img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo.png" alt="JAVA" title="JAVA"/>
	</div>
	<div>
		<!-- <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient /> -->
		 <!-- The CSS3 icon -->
		<img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS3" title="CSS3"/>
	</div>
	<div>
		<!-- The JQUERY icon -->
		<img src="https://img.icons8.com/ios-filled/50/000000/jquery.png" alt="jQuery Icon" title="JQUERY"/>
	</div>
	<div>
		<!-- The PHP icon -->
		<img src="https://img.icons8.com/color/48/000000/php.png" alt="PHP Icon" title="PHP"/>
	</div>
	<div>
		<!-- The MYSQL icon -->
		<img src="https://img.icons8.com/color/48/000000/mysql-logo.png" alt="MYSQL Icon" title="MYSQL"/>
	</div>
	<div>
		<!-- The KOTLIN icon -->
		<img src="https://img.icons8.com/fluency/48/laravel.png" alt="Laravel Icon" title="Laravel"/>
	</div>
	<div>
		<!-- The SQL icon -->
		<img src="https://img.icons8.com/color/48/sql.png" alt="SQL Icon" title="SQL"/>
	</div>
	<div>
		<!-- The KOTLIN icon -->
		<img src="https://img.icons8.com/color/48/kotlin.png" alt="Kotlin Icon" title="Kotlin"/>
	</div>
	<div>
		<!-- The SPRING icon -->
		<img src="https://img.icons8.com/color/48/spring-logo.png" alt="Spring Icon" title="Spring"/>
	</div>
	<div>
		<!-- The BOOTSTRAP icon -->
		<img src="https://img.icons8.com/color/48/bootstrap.png" alt="Bootstrap Icon" title="Bootstrap"/>
	</div>
</section>

<!-- <section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Industry Leader</h2>
		<p>Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor elit.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
</section> -->

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
